
<ion-content>



<div id="main">
</div>
  <app-nav title ="Salut, Mr"user="Adem" welcome="Bienvenue dans votre compte!"  ></app-nav>

  <p style="margin-left: 20%; margin-top: 50px">Bientôt</p>
    <ion-card class="card" style="padding: 20px; " *ngIf="addService.ListChHome.length===0" >
      <ion-card-header >
        <p class="title1">Il n'ya pas de chéque
           à payer bientôt</p>

      </ion-card-header>
      </ion-card
    >


  <ion-slides pager>
    <ion-slide *ngFor ="let card of addService.ListChHome ;let i=index" style="display: flex;">
    <ion-card class="card1" >
      <ion-card-header>
        <ion-card-title style="text-align: center">{{ card.username }}</ion-card-title>
        <ion-card-subtitle>{{ card.montant }} DNT</ion-card-subtitle>
        <ion-card-content>{{ card.dateLimite }}</ion-card-content>
      </ion-card-header></ion-card
    >
    </ion-slide>
    </ion-slides>

  <hr style="background-color: black; height: 1px; margin: 70px 20px" />
  <ion-card class="card">
    <ion-card-header style="width: 100%">
      <p class="title">Ajouter un chéque</p>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div>
          <p class="subtitle">Ajouter votre dernier chéque!</p>
        </div>
        <ion-icon class="hmico" name="add-circle" (click)="OnaddClick()"></ion-icon>
      </div>
    </ion-card-header>
  </ion-card>
  <ion-card class="card change">
    <ion-card-header style="width: 100%">
      <p class="title">List des chéques</p>
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div>
          <p class="subtitle">Vous pouvez modifier ou supprimez vos chéques!</p>
        </div>
        <ion-icon class="hmico" name="list" (click)="onList()"></ion-icon>
      </div>
    </ion-card-header>
  </ion-card>

</ion-content>
